In [45]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests # library to handle requests

!conda install -c conda-forge lxml --yes
print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Libraries imported.

Load the first HTML Table from given URL into dataframe.

In [66]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
print(df.columns)

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

Update the dataframe columns name.

In [67]:
df.rename(columns={"Postcode":"PostalCode", "Neighbourhood":"Neighborhood"},inplace=True)
print(df.shape)
df.head()

(287, 3)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Find 'Not assigned' rows in Borough field.

In [68]:
rows = df[(( df.Borough == 'Not assigned'))].index
print(rows)
df.head()

Int64Index([  0,   1,   8,  12,  19,  20,  29,  35,  36,  44,  45,  49,  50,
             51,  53,  54,  58,  59,  60,  72,  73,  74,  87,  88,  89, 103,
            104, 105, 119, 120, 135, 136, 147, 148, 154, 160, 161, 166, 174,
            180, 181, 187, 188, 189, 193, 194, 200, 201, 202, 203, 208, 209,
            222, 223, 236, 237, 240, 241, 246, 247, 252, 253, 257, 258, 259,
            260, 262, 263, 273, 274, 275, 276, 277, 278, 279, 280, 286],
           dtype='int64')

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Drop the 'Not assinged' rows.

In [69]:
df.drop(rows, inplace=True)
print(df.shape)
df.head()

(210, 3)

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

If Neighborhood field is 'Not assigned', copy Borough field to Neighborhood field.
Note: In case the table gets updated, we still need this operation.

In [70]:
df.Neighborhood = df.Borough.where(df.Neighborhood == 'Not assigned', df.Neighborhood)
print(df.shape)
df.head()

(210, 3)

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

More than one neighborhood can exist in one postal code area.

In [71]:
grouped = df.groupby('PostalCode').agg({'Borough':'first', 'Neighborhood':lambda x: ', '.join(x)}).reset_index()
grouped.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Display the number of rows of the dataframe.

In [72]:
print('Size of rows of the dataframe is ', df.shape[0])

Size of rows of the dataframe is  210